@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root{
    --primary-color : #ce93d8;
    --secondary-color: #9be7ff;
}
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    /* background-image: url("https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size: cover; */
    background-color: #212121;
}

.section{

    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
   
    padding: 1.5rem 1rem;
    text-align: center;
    background-color: var(--primary-color);


} 

 h1
{ background-color: var(--secondary-color); padding: 2rem; border-radius:1rem ; -webkit-border-radius:1rem ; -moz-border-radius:1rem ; -ms-border-radius:1rem ; -o-border-radius:1rem ;

font-size: 2.5rem;

font-family: 'Russo One', sans-serif;
}

hr
{
color: black;

}

h1, h3{
    color: rgb(20, 19, 19);
    font-weight: bold;
} 


 label{
    font-size: 1.3rem;
    
 
    color: #2F3232;
   

    margin-top: 3rem;
} 


input{
    width: 100%;
    padding: 1rem;
    height: 50px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    font-size: large;
}

button{
    padding: 1rem 2rem;
    display: block;
    font-size: 1rem;
    border-radius: 1rem;
    margin: 1rem auto 0;
    background-color:var(--secondary-color);
    color: var(--dark-green);
    font-weight: bold;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}


#errorMsg{
    padding-top: 1rem;
    color:black;
}
#output{
    margin: 1rem 0;   
    font-size: medium; 
}
 
#output table, th, td{
    padding: 0.2rem;
    color: black;
    background-color:#E8670F;
    border: 2px solid black ;
    border-collapse: collapse;
    font-weight: bold;
}
.noOfNotes{
    background-color:white;
    font-weight: bold;
}

table{
    width: 100%;
    table-layout: fixed;
}

th,td{
    word-wrap: break-word;
}  

small
{
    padding: 1rem;
    padding-left: 75rem;
  
    
   
    text-align: right;
    color: cornsilk;

}